<h1>Proyectos</h1>

<p *ngIf="loading">Cargando...</p>
<p *ngIf="error">{{ error }}</p>

<ul *ngIf="!loading && !error">
  <li *ngFor="let p of projects">
    <h3>{{ p.title }}</h3>
    <p>{{ p.description }}</p>
    <p *ngIf="p.tech_stack"><b>Stack:</b> {{ p.tech_stack }}</p>

    <p>
      <a *ngIf="p.repo_url" [href]="p.repo_url" target="_blank" rel="noopener">
        Repo
      </a>
      <span *ngIf="p.repo_url && p.live_url"> | </span>
      <a *ngIf="p.live_url" [href]="p.live_url" target="_blank" rel="noopener">
        Live
      </a>
    </p>
  </li>
</ul>